// used inside an includes file
.tutorial-instruction {
  border: 1px dashed $grey-dk-000;
  margin-top: $sp-4;
  margin-bottom: $sp-4;
  padding-left: $sp-2;
  padding-right: $sp-2;
}

.collapsible-block-title{
  padding-top: $sp-1;
  padding-bottom: $sp-1;
  padding-left: $sp-2;
  padding-right: $sp-2;
  margin-top: $sp-1;
  margin-bottom: $sp-4;
  background-color: $grey-lt-000;
  border-radius: $border-radius;
}

.collapsible-block-inside {
  padding-top: $sp-1;
  padding-bottom: 0;
  padding-left: $sp-3;
  padding-right: $sp-3;
  margin-bottom: $sp-4;
}

// div border styles
.dotted-grey-dk-000 {
  border: 1px dotted $grey-dk-000;
}

.dashed-grey-dk-000 {
  border: 1px dashed $grey-dk-000;
}

.dashed-grey-lt-300 {
  border: 1px dashed $grey-lt-300;
}

// flex container styles
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-column-wrap {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}

.centered-third {
  text-align: center; 
  width: calc(100% / 3);
}

.centered-eighth {
  text-align: center; 
  width: 12.5%;
  height: 12.5%;
}

.centered-25 {
  text-align: center; 
  width: 25%;
  height: 25%;
}

.centered-50 {
  text-align: center; 
  width: 50%;
  height: 50%;
}

.centered-100 {
  text-align: center; 
  width: 100%;
  height: 100%;
}

// element command toc "table"
.command-table {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  border: 0.5px solid $grey-lt-100;
}

.command-table div {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-left: $sp-2;
  padding-right: $sp-2;
  height: 50px;
  width: calc(100% / 3);
  border: 0.5px solid $grey-lt-100;
}

// customized horizontal rules
hr {
  background-color: $grey-lt-300;
}

hr.grey-lt-000 {
  background-color: $grey-lt-000;
}

// customized tables
.table-wrapper {
  white-space: pre;
  padding-top: $sp-1;
  padding-left: $sp-1;
  padding-right: $sp-1;
  padding-bottom: $sp-1;
  border: 1px solid $grey-lt-300;
  box-shadow: none;
}

// highlight a table row with <tr class="row-highlight"> 
tr.row-highlight {
  background-color: $grey-lt-000;
}

th,
td {
  min-width: 100px;
  background-color: inherit;
}

// element thumbnail display
a.overlay-link:hover{
  text-decoration: underline;
}

.underline{
  text-decoration: underline;
  text-decoration-color: rgba($link-color, 0.2);
}

.overlay{
  position: relative;
}

.overlay:hover .image {
  opacity: 0.4;
}

.element-title{
  text-decoration: underline;
  padding-left: $sp-1;
  padding-right: $sp-1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: no-wrap;
}

// desktop-only and mobile-only content
#desktop-only {display: flex;}
#mobile-only {display: none;}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){ 
    #desktop-only {display: none;}
    #mobile-only {display: flex;}
}