.tutorial-instruction {
  border: 1px dashed $grey-dk-000;
  margin-top: $sp-4;
  margin-bottom: $sp-4;
  padding-left: $sp-2;
  padding-right: $sp-2;
}

.border-grey-dk-000 {
  border: 1px dotted $grey-dk-000;
}

hr {
  background-color: $grey-lt-300;
}

hr.grey-lt-000 {
  background-color: $grey-lt-000;
}

.collapsible-block{
  padding-top: $sp-1;
  padding-bottom: $sp-1;
  padding-left: $sp-1;
  padding-right: $sp-1;
  background-color: $grey-lt-100;
}