{% assign last = include.collection | last %}

{% for command in include.collection %}  
  {% assign command_tag = command.title | downcase | slugify %}
  <h2 id="{{ command_tag }}"> 
    <a href="#{{ command_tag }}" aria-labelledby="{{ command_tag }}" class="anchor-heading"><svg viewBox="0 0 16 16" aria-hidden="true"><use xlink:href="#svg-link"></use></svg></a>
    <a href="{{ site.baseurl}}{{ command.url }}" target="_blank"><code>{{ command.title }}</code></a> 
  </h2> 

  <div class="dotted-grey-dk-000 mt-4 px-4 pt-2">
  <h4>syntax</h4>
  <code>{{ command.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>

  <h4>description</h4>
  {{ command.description | markdownify }} 

  {% if command.optional_arguments %}
  <h4>optional arguments</h4>
  <details markdown="block">
  <summary class="text-delta collapsible-block-title">click to expand</summary>
  <div class="dashed-grey-lt-300 collapsible-block-inside" markdown="1">
    <ul>
      {% for argument in command.optional_arguments %}
      <li>
      <p><code>{{ argument.syntax }}</code></p>
      <p class="fw-300 fs-3">{{ argument.description }}</p>
      </li>
      {% endfor %}
      </ul>
  </div>
  </details>
  {% endif %}

  <h4>example</h4>
  {% capture content %}{{ command.content | markdownify }}{% endcapture %}
  {% include collapsible-block.html content=content summary="click to expand" inner-border=true %}
  </div>

  <h4><a href="#">Back to top</a></h4>

  {% unless command == last %}
  <hr>
  {% endunless %}
{% endfor %}