<div id="{{ include.id }}">
{%- for command in include.collection -%}  
  {% assign command_tag = command.title | slugify %}
  <h2 class="mt-2" id="{{ command_tag }}"> 
    {% unless include.deprecated %}
      <a href="{{ site.baseurl}}{{ command.url }}" target="_blank">
    {% endunless %}
    <code>{{ command.title }}</code>
    {% unless include.deprecated %}
      </a> 
    {% endunless %}
  </h2> 

  {% if include.deprecated %}
    {% include label-deprecated.html since=command.deprecated replacement=command.replacement %}
  {% endif %}

  <div id="{{ command_tag }}-command-blurb" class="mb-6 pt-2">
    <div id="{{ command_tag }}-syntax">
      <p class="command-blurb-subheader">syntax</p>
      <code>{{ command.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>

      {%- if command.alternate -%}
      <ul id="alternates">
        {%- for alternate in command.alternates -%}
          <li id="alternate-item">
            <code>get{{- command.element_type -}}{{- alternate.syntax -}}</code>: {{ alternate.description }}
          </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}


    </div>

    <div id="{{ command_tag }}-description">
      <p class="command-blurb-subheader">description</p>
      <p class="mt-0">{{ command.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    </div>

    <div id="{{ command_tag }}-example">
      <p class="command-blurb-subheader">example</p>
      {%- if command.notes -%}
        {%- assign content = command.content | split: site.excerpt_separator | last | markdownify -%}
      {%- else -%}  
        {%- assign content = command.content | markdownify -%}
      {%- endif -%}
      {%- include collapsible-block.html content=content summary="click to expand" -%}
    </div>
    
    {%- if command.related -%}
    <div id="{{ command_tag }}-related-commands">
      <p class="command-blurb-subheader">related commands</p>
      <ul>
        {%- for related in command.related -%}
          {% assign related_command = site[related.collection] | where: "title", related.name | first %}
          <li>
            <a href="{{ related_command.url | prepend: site.baseurl }}" target="_blank">
              <code>{{ related_command.title }}</code>
            </a>: {{ related_command.description }}
          </li>
          {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}

    <span class="text-delta" id="back-to-top"><a href="#">↑ back to top</a></span>
  </div>

  {%- if forloop.last == false -%}
  <hr>
  {%- endif -%}
{%- endfor -%}
</div>
