<link rel="stylesheet" href="{{site.baseurl}}/assets/prism/prism.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/overwrites.css">

<header class="construction">
  <!-- <p class="mt-0 mb-1"> -->
    <!-- <i>⚠ This is the new -->
    <!-- <a href="https://www.pcibex.net/" target="_blank">PCIbex documentation</a> -->
    <!-- and is still partly under development. ⚠</i> -->
  <!-- </p> -->
  <p class="mt-0 mb-0">
    The <a href="https://farm.pcibex.net/" target="_blank">new PCIbex Farm</a> is here!
    Be sure to check out all of its 
    <a href="{{site.baseurl}}/announcements/2021-01-22-new-pcibex-farm/" target="_blank">new features and changes</a>.
  </p>
</header>

{%- if page.numbered_headings -%}
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/numbered_headings.css">
  {%- unless page.start_heading -%}
    <div class="initialize" style="--h1counter-value: {{page.nav_order}};"></div>
  {%- else -%}
    <div class="initialize" style="--h1counter-value: {{page.start_heading}};"></div>
  {%- endunless -%}
{%- endif -%}

{% if site.tags != "" %}
  {% include collect-tags.html %}
{% endif %}
