{% if include.description %}
<div class="text-delta mt-4">description</div>
{{ include.description | markdownify }}
{% endif %}

<p class="text-delta mb-2 ">example</p>

<div class="px-3 pt-1 pb-4 dotted-grey-dk-000">
  <p class="text-delta"><b>code</b></p>
  <div class="border-grey-dk-000 px-4 pt-4 pb-1">
    <pre class="language-none"><code>
      {{include.code}}
    </code></pre>
    {% if include.extra %}{{ include.extra | markdownify }}{% endif %}
  </div>
  
  <p class="text-delta"><b>result</b></p>
  <div class="border-grey-dk-000 px-4 pt-4 pb-1">
  {{ include.result | markdownify }}
  </div>
</div>

{% unless include.no-back-to-top %}
<h4><a href="#">Back to top</a></h4>
{% endunless %}