 <!-- Element command TOC for [layout: element] pages -->
<div class="float-right py-4 px-4 bg-grey-lt-200" markdown="1">
  <b>Action commands</b>
  <ul class="nav-list">
  {%- for command in include.actionCommands -%}
  {% assign command_tag = command.title | downcase | slugify %}
  <li><a href="#{{ command_tag }}"><code>{{ command.title }}</code></a></li>
  {%- endfor -%}
  </ul>

  <b>Test commands</b>
  <ul class="nav-list">
  {%- for command in include.testCommands -%}
  {% assign command_tag = command.title | downcase | slugify %}
  <li><a href="#{{ command_tag }}"><code>{{ command.title }}</code></a></li>
  {%- endfor -%}
  </ul>
</div>
