---
layout: default
---

{% if page.command_type == "global" and page.title != "PennController.ResetPrefix" %}
  <h1><code>(PennController.){{ page.title }}</code></h1> 
{% else %}
  <h1><code>{{ page.title }}</code></h1>
{% endif %}

{% if page.element_type contains "standard" %}
  <h4>Element types that this command <a href="{{site.baseurl}}/docs/core-concepts/3_commands#standard-and-element-specific-commands" target="_blank">has an effect on</a></h4>
  {% for type in page.element_type %}
    {% for element in site.elements %}
      {% if element.element_type contains type %}
        <span class="label bg-grey-lt-100 mt-2 ml-0"><a href="{{ element.url | absolute_url }}" target="_blank">{{ element.title }}</a></span>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% include heading-link.html header="syntax" h4=true %}
{% if page.command_type == "global" and page.title != "PennController.ResetPrefix" %}
  <code>(PennController.){{ page.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>
  <p class="text-delta">↳ See <a href="{{site.baseurl}}/docs/support/faq#penncontroller-prefix" target="_blank">What does <code>(PennController.)</code> mean?</a></p>
{% else %}
  <code>{{ page.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>
{% endif %}

{% include heading-link.html header="description" h4=true %}
{{ page.description | markdownify }}

{% if page.optional_parameters %}
{% include heading-link.html header="optional parameters" h4=true %}
<div class="bg-grey-lt-100 py-2 px-5 mt-2 mb-4" markdown=1>
  <ul>
    {% for parameter in page.optional_parameters %}
    <li>
      <code>{{ parameter.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>
      <p class="fw-300 fs-3">{{ parameter.description | markdownify | remove: '<p>' | remove: '</p>'}}</p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if page.methods %}
{% include heading-link.html header="methods" h4=true %}
<div class="bg-grey-lt-100 py-2 px-5 mt-2 mb-4" markdown=1>
  <ul>
    {% for method in page.methods %}
    <li>
    <p><code>{{ method.syntax }}</code></p>
    <p class="fw-300 fs-3">{{ method.description }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if page.notes %}
  {%- include heading-link.html header="note(s)" h4=true -%}
  {{ page.excerpt }}
  {% assign content = page.content | remove: page.excerpt %}
{% else %}
  {% assign content = page.content %}  
{% endif %}

<hr>
{%- include heading-link.html header="example" h4=true -%}
{{ content }}
