---
layout: default
---

{% if page.deprecated %}
  {% include label-deprecated.html since=page.deprecated replacement=page.replacement %}
{% endif %}

{% if page.command_type == "global" and page.title != "PennController.ResetPrefix" %}
  <h1 id="{{ page.title }}"><code>(PennController.){{ page.title }}</code></h1> 
{% else %}
  <h1 id="{{ page.title }}"><code>{{ page.title }}</code></h1>
{% endif %}

{% if page.element_type == "standard" %}
  <div id="relevant-elements">
  {% for relevant_element_type in page.relevant_elements %}
    {% assign relevant_element = site.html_pages | where: "parent", "Elements" | where: "title", relevant_element_type | first %}
    <span id="{{  relevant_element.title }}" class="label bg-grey-lt-100 mt-2 ml-0">
      <a href="{{ relevant_element.url | absolute_url }}">
        {{ relevant_element.title }}
      </a>
    </span>
  {% endfor %}  
  </div>
{% endif %}

<h4 id="description">description</h4>
{{ page.description | markdownify }}

<h4 id="syntax">syntax</h4>
{% if page.command_type  == "global" and page.title != "PennController.ResetPrefix" %}
  {%- assign prefix = "(PennController.)" -%}
  {% capture message %}
  <p id="penncontroller-prefix-meaning" class="text-delta mt-2 mb-1">
    ↳ <a href="{{site.baseurl}}/support/faqs#penncontroller-prefix" target="_blank">
    What does <code>(PennController.)</code> mean?
    </a>
  </p>
  {% endcapture %}
{% elsif page.grand_parent == "Elements" %}
  {%- capture prefix -%}
  get{{- page.element_type -}}(<var>ELEMENT_NAME</var>)
  {%- endcapture -%}
{% elsif page.element_type == "standard" %}
  {%- assign prefix = "getX(<var>ELEMENT_NAME</var>)" -%}
  {% capture message %}
  <p id="getX-meaning" class="text-delta mt-2 mb-1">
    ↳ <a href="{{site.baseurl}}/support/faqs#get-x" target="_blank">
    What does <code>getX()</code> mean?
    </a>
  </p>
  {% endcapture %}
{% endif %}

{% if page.parameters %}
  <code id="command-syntax-parameters">
    {{- prefix -}}{{- page.syntax | remove_first: ")" -}}
    {%- for parameter in page.parameters -%}
      {% unless forloop.first %}, {% endunless %}
      {%- if parameter.optional -%} [ {%- endif -%}
      <var>{{- parameter.name -}}</var>
      {%- if parameter.type -%}: {{ parameter.type }}{%- endif -%}
      {%- if parameter.optional -%} ] {%- endif -%}
    {%- endfor -%}
    )
  </code>
  {{ message }}
  <ul id="parameters">
  {%- for parameter in page.parameters -%}
    <li id="parameter">
      <code>
        {%- if parameter.optional -%} [ {%- endif -%}
        <var>{{ parameter.name }}</var>
        {%- if parameter.optional -%} ] {%- endif -%}
      </code>
      {% if parameter.optional %} (optional){% endif %}: {{ parameter.description | markdownify | remove: '<p>' | remove: '</p>' }}
    </li>
  {%- endfor -%}
  </ul>
{% else %}
  {%- if page.title == "PennController.ResetPrefix" -%}
    <code id="command-syntax-no-parameters">{{- page.syntax | remove_first: ")" -}}null)</code>
  {%- else -%}
    <code id="command-syntax-no-parameters">{{- prefix -}}{{- page.syntax -}}</code>
  {{ message }}
  {%- endif -%}
{% endif %}

{% if page.alternates %}
<h4 id="alternates">alternate(s)</h4>
<div class="optional-command-information-box">
  <ul id="alternate-list" class="mt-2 mb-2">
    {% for alternate in page.alternates %}
    <li id="alternate">
      <code>
        {{- prefix -}}{{- page.syntax | remove_first: ")" -}}
        <var>{{- alternate.name -}}</var>
        {%- if alternate.type -%}
        : {{ alternate.type -}}
        {%- endif -%}
        )
      </code>
      <p class="mt-1 mb-2 fw-300 fs-3">
        {{ alternate.description | markdownify | remove: '<p>' | remove: '</p>'}}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if page.methods %}
<h4 id="methods">methods</h4>
<div class="optional-command-information-box">
  <ul id="method-list" class="mt-2 mb-2">
    {% for method in page.methods %}
    <li id="method">
      <code>{{ method.syntax }}</code>
      <p class="mt-1 mb-2 fw-300 fs-3">
        {{ method.description | markdownify | remove: '<p>' | remove: '</p>'}}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if page.notes %}
  <h4 id="notes">notes</h4>
  {{ page.excerpt }}
  {% assign content = page.content | remove: page.excerpt %}
{% else %}
  {% assign content = page.content %}  
{% endif %}

{% if page.related %}
<h4 id="related-commands">related commands</h4>
  <ul>
  {% for related in page.related %}
    {% assign related_command = site[related.collection] | where: "title", related.name | first %}
    <li>
      <a href="{{ related_command.url | prepend: site.baseurl }}">
        <code>{{ related_command.title }}</code>
      </a>: {{ related_command.description }}
    </li>
  {% endfor %}  
  </ul>
{% endif %}

{% if page.since %}
<h4 id="since">since</h4>
  {{ page.since }}
{% endif %}

<hr>

<h4 id="example">example(s)</h4>
{{ content }}
