---
layout: default
---

{% if page.deprecated %}
  {% include label-deprecated.html since=page.deprecated replacement=page.replacement %}
{% endif %}

{% if page.command_type == "global" and page.title != "PennController.ResetPrefix" %}
  <h1 id="{{ page.title }}"><code>(PennController.){{ page.title }}</code></h1> 
{% else %}
  <h1 id="{{ page.title }}"><code>{{ page.title }}</code></h1>
{% endif %}

{% if page.element_type == "standard" %}
  <div id="relevant-elements">
  {% for relevant_element_type in page.relevant_elements %}
    {% assign relevant_element = site.elements | where: "title", relevant_element_type | first %}
    <span id="{{  relevant_element.title }}" class="label bg-grey-lt-100 mt-2 ml-0">
      <a href="{{ relevant_element.url | absolute_url }}" target="_blank">
        {{ relevant_element.title }}
      </a>
    </span>
  {% endfor %}  
  </div>
{% endif %}

{% if page.since %}
<h4 id="since">since</h4>
  {{ page.since }}
{% endif %}

<h4 id="syntax">syntax</h4>
{% if page.command_type == "global" and page.title != "PennController.ResetPrefix" %}
  <code>(PennController.){{ page.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>
  <p id="penncontroller-prefix-meaning" class="text-delta">
    ↳ <a href="{{site.baseurl}}/docs/faqs#penncontroller-prefix" target="_blank">
    What does <code>(PennController.)</code> mean?
    </a>
  </p>
{% elsif page.element_type == "standard" %}
<code>{{ page.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>
  <p id="getX-meaning" class="text-delta">
    ↳ <a href="{{site.baseurl}}/docs/faqs#get-x" target="_blank">
    What does <code>getX()</code> mean?
    </a>
  </p>
{% else %}
  <code>{{ page.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>
{% endif %}

<h4 id="description">description</h4>
{{ page.description | markdownify }}

{% if page.optional_parameters %}
<h4 id="optional-parameters">optional parameters</h4>
<div class="optional-command-information-box" markdown=1>
  <ul>
    {% for parameter in page.optional_parameters %}
    <li>
      <code>{{ parameter.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>
      <p class="fw-300 fs-3">
        {{ parameter.description | markdownify | remove: '<p>' | remove: '</p>'}}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if page.methods %}
<h4 id="methods">methods</h4>
<div class="optional-command-information-box" markdown=1>
  <ul>
    {% for method in page.methods %}
    <li>
      <p><code>{{ method.syntax }}</code></p>
      <p class="fw-300 fs-3">{{ method.description }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if page.notes %}
  {%- include heading-link.html header="note(s)" h4=true -%}
  {{ page.excerpt }}
  {% assign content = page.content | remove: page.excerpt %}
{% else %}
  {% assign content = page.content %}  
{% endif %}

{% if page.related %}
<h4 id="related-commands">related commands</h4>
  <ul>
  {% for related in page.related %}
    {% assign related_command = site[related.collection] | where: "title", related.command | first %}
    <li>
      <a href="{{ related_command.url | prepend: site.baseurl }}" target="_blank">
        <code>{{ related_command.title }}</code>
      </a>: {{ related_command.description }}
    </li>
  {% endfor %}  
  </ul>
{% endif %}

<hr>

<h4 id="example">example</h4>
{{ content }}
