---
layout: default
---

{% if page.deprecated %}
  {% assign element-action = site.deprecated | where: "command_type", "action" | where: "parent", page.title %}
  {% assign element-test = site.deprecated | where: "command_type", "test" | where: "parent", page.title %}
{% else %}
  {% assign element-action = site[page.element_type] | where: "command_type", "action" %}
  {% assign element-test = site[page.element_type] | where: "command_type", "test" %}
{% endif %}

{% assign standard-action = site.standard-element-commands | where: "command_type", "action" | where_exp: "command", "command.element_type contains page.element_type" %}
{% assign standard-test = site.standard-element-commands | where: "command_type", "test" | where_exp: "command", "command.element_type contains page.element_type" %}

{% if page.deprecated %}
  {% include label-deprecated.html since=page.deprecated replacement=page.replacement %}
{% endif %}

<h1><code>{{ page.title }}</code> element</h1>

<div style="display: flow-root;" markdown="1">
  {% if page.element_type == "standard" %}
    {% include toc-element.html element-action=element-action element-test=element-test %}
  {% else %}
    {% include toc-element.html element-action=element-action element-test=element-test standard-action=standard-action standard-test=standard-test %}
  {% endif %}

  <h4>syntax</h4>
  <code>{{ page.syntax | markdownify | remove: '<p>' | remove: '</p>' }}</code>
  
  <h4>description</h4>
  {{ page.description | markdownify }} 

  {% if page.notes %}
    <h4>note(s)</h4>
    {{ page.excerpt }}
  {% endif %}
</div>

{% unless page.no_example %}
  <hr>
  <h4>example</h4>
  {% if page.notes %}
    {{ page.content | remove: page.excerpt }}
  {% else %}
    {{ page.content }}
  {% endif %}
{% endunless %}

<hr>

<h2 id="element-action">Action commands</h2>
{% if page.deprecated %}
  {% include command-blurbs.html collection=element-action deprecated=true %}
{% else %}
  {% include command-blurbs.html collection=element-action %}
  {% unless page.element_type == "standard" %}
    <hr>
    {% include command-blurbs.html collection=standard-action %}
  {% endunless %}
{% endif %}

<hr>

<h2 id="element-test">Test commands</h2>
{% if page.deprecated %}
  {% include command-blurbs.html collection=element-test deprecated=true %}
{% else %}  
  {% include command-blurbs.html collection=element-test %}
  {% unless page.element_type == "standard" %}
    <hr>
    {% include command-blurbs.html collection=standard-test %}
  {% endunless %}
{% endif %}
