---
layout: default
has_toc: false
---

{% assign pages_list = site.html_pages %}
{% assign children_list = pages_list | where: "parent", page.title %}

<h1>{{ page.title }}</h1>

{{ page.content | markdownify }}

{% for child in children_list -%}
  <hr>

  {{ child.content }}

  <div class="flex-row-wrap mt-6" style="justify-content: space-between;">
    {% if forloop.index0 > 0 %}
      {% assign previous_i = forloop.index0 | minus: 1 %}
      {% assign previous = children_list[previous_i] %}
      <div><span class="label label-grey-lt-200"><a href="#{{previous.title | downcase | slugify }}">← previous section ({{previous.title}})</a></span></div>
    {% else %}
      <div></div>
    {% endif %}
    <div><span class="label label-grey-lt-200"><a href="#">↑ back to top</a></span></div>
  </div>
{% endfor %}

