---
layout: default
has_toc: false
---

<!-- ASSIGN VARIABLES -->
<!-- [pages_list] is an array of all html pages -->
<!-- if the [parent] attribute of a page matches {{ page.title }}, put that page in the array [children_list] -->
<!-- if the title of a [node] in [pages_list] matches {{ page.title }}, put its children pages in the array [children_list] -->
{% assign pages_list = site.html_pages %}
{% assign children_list = pages_list | where: "parent", page.title %}

<!-- LAYOUT -->
<h1>{{ page.title }}</h1>

{{ page.content | markdownify }}

<!-- CONTENT -->
<!-- for every [child] in [children_list], print a horizontal rule, {{ child.content }}, and then a link to the top of the page -->
{% for child in children_list -%}
  <hr>

  {{ child.content }}

  <h4><a href="#">Back to top</a></h4>
{% endfor %}

