---
layout: default
---

{{ content }}

{% assign first_child = site.html_pages | where: "parent", page.title | first %}

<div class ="flex-row-wrap mt-6 bg-grey-lt-200">
  <div class="centered-third"></div>
  <a href="#" style="width: calc(100% / 3)">
    <div class="back-to-top">
      <span class="text-delta">↑ back to top</span> 
    </div>
  </a>
  <a href="{{ first_child.url | prepend: site.baseurl }}" style="width: calc(100% / 3)">
    <div class="next-section">
      <span class="text-delta">next section →</span><br>
      <b>{{ first_child.title }}</b>
    </div>
  </a>
</div>
